h1 {
    color: rgb(0 255 33);
    text-align: center;
    background-color: rgb(128 128 128);
    margin-top: 0px;
}

li {
    background-color: rgb(72, 0, 255)
}

.soccer {
    color: rgb(0 255 33)
}

#midashi3 {
    color: rgb(72, 0, 255)
}
